<p id="notice"><%= notice %></p>

<h3>Listing Sites</h3>

<table>
  <thead>
    <tr>
      <col width="100">
      <col width="100">
      <th>Author</th>
      <th>Name</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <col width="100">
        <col width="40">
        <col width="40">
        <td><%= site.user.id.to_s + ": "%></td>
        <td><%= site.name %></td>
        <td><%= site.data %></td>
        <td><%= link_to 'Show', site %></td>
        <% if site.user == current_user %>
          <td><%= link_to 'Edit', edit_site_path(site) %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path %>
