<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @site.data %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>

<%= render partial: 'comments/new', locals: { :new_comment => @new_comment } %>

<%= render partial: 'comments/index', locals: { :site => @site } %>
